.container {
	width: 100%;
	background-color: black;
	color: #fff;
}

.special-section {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	width: 70%;
	text-align: center;
}

.special-item {
	width: 50%;
}
