.email {
	background-color: #411414;
	color: #fff;
}

.email-container {
	display: flex;
	margin: 0 auto;
	width: 50%;
	justify-content: space-between;
	align-items: center;
}

.email-text {
	font-size: 1.5em;
	font-weight: 400;
	text-shadow: 1px 2px #333;

	span {
		color: #97ee5d;
	}
}

.form-box {
	display: flex;
	width: 50%;
	justify-content: center;
	align-items: center;

	input[type="email"] {
		border-radius: 2px;
		border: none;
		margin-right: 2em;
		padding: 1em;
		width: 100%;
		font-size: 1rem;
	}

	input[type="submit"] {
		border: none;
		background-color: #55b317;
		border-radius: 2px;
		color: #fff;
		padding: 1em 1em;
		font-size: 1rem;
		font-weight: 700;
		text-shadow: 0px 1px #333;
		&:hover {
			background-color: darken($color: #5ad309, $amount: 4%);
		}
	}
}
