.hero-container {
	background-image: linear-gradient(
			180deg,
			rgba(63, 21, 21, 0.322) 68%,
			rgb(0, 0, 0)
		),
		url(../../assets/heroImg.jpg);
	height: 90vh;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 100;
	position: relative;
}

.hero-box-container {
	display: flex;
	width: 70%;
	margin: 0 auto;
}

.hero-box {
	color: rgb(90, 211, 9);
	background-color: rgba(0, 0, 0, 0.356);
	width: 60%;
	position: relative;
	padding: 1em 2em;
	margin-top: 10%;
	border-radius: 2px;
	z-index: 2;

	h1 {
		font-size: 3.5rem;
		margin: 1.5rem 1rem;
		font-weight: 700;
	}

	p {
		color: #fff;
		font-weight: 400;
	}

	span {
		color: #3fe43f;
	}
}

.hero-btn {
	color: #000;
	display: inline-block;
	padding: 8px 16px;
	margin: 8px 8px;
	background-color: #3fe43f;
	border-radius: 2px;
	font-weight: 700;
	border: 1px solid #3fe43f;
	transition: all 0.3s ease-in-out;

	&:hover {
		background-color: darken($color: #3fe43f, $amount: 10%);
		cursor: pointer;
	}

	&-primary {
		background-color: rgba(255, 255, 255, 0);
		border: 1px solid #3fe43f;
		color: #fff;
		margin-left: 0;
	}

	&-secondary:hover {
		background-color: darken($color: #3fe43f, $amount: 20%);
		border: 1px solid darken($color: #3fe43f, $amount: 20%);
		color: #fff;
	}
}
