.about-section {
	width: 100%;
	background: linear-gradient(
			360deg,
			(rgb(29, 7, 7) 1%),
			rgba(10, 10, 10, 0.884) 19%
		),
		url("../../assets/tennisbg.jpg");
	background-size: cover;
	background-position: top;
}

.about-container {
	width: 70%;
	padding: 3.5em 0px;
	display: flex;
	margin: 0 auto;
	justify-content: space-between;
}

.about-item {
	color: #fff;
	padding: 5px;
	text-align: left;
	border: 1px solid rgba(31, 31, 31, 0.219);
	border-radius: 2px;
	padding: 1em;
	margin: 1em;
	background-color: rgba(3, 3, 3, 0.315);
	a {
		text-decoration: none;
		color: #d34f17;

		&:hover {
			color: #f36122;
		}
	}

	h2 {
		font-family: "Crimson Pro", serif;
	}
}

.item-75 {
	width: 75%;

	h2 {
		font-size: 2.5rem;
	}

	p {
		font-weight: 400;
		font-size: 1.2rem;
	}
}

.item-25 {
	width: 25%;
}
